<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #e2baba;">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      Advertisement {{advertisement}} created by seller {{name}} is banned!
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        Please verify this information or contact the seller for further details.
      </p>
    </td>
  </tr>
</table>
