<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #d4e2ba;">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      Dear {{name}},
    </td>
  </tr>
  <tr>
    <td style="padding: 20px 0; text-align: center;">
      <p style="margin: 0;">Thank you for reporting the missing item "{{item}}".</p>
      <p style="margin: 0;">Our team has received your notification and will address it promptly.</p>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-top: 20px;">
      <p>If you need further assistance, feel free to contact us.</p>
      <a href="{{frontUrl}}/notify" style="display: inline-block; padding: 10px 15px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Visit Our Support Center</a>
    </td>
  </tr>
</table>
